* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}

header {
    background: #ff5722;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 35px;
}

nav {
    background: white;
    padding: 15px;
    text-align: center;
}

nav button {
    border: none;
    background: none;
    margin: 0 15px;
    font-size: 16px;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 70px 20px;
    background: #ffe0b2;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.menu {
    padding: 40px 20px;
    text-align: center;
}

.menu h2 {
    margin-bottom: 25px;
}

.food-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.food-card {
    width: 280px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: 0 5px 15px #ccc;
}

.food-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.food-card h3,
.food-card p,
.food-card h4 {
    margin: 10px;
}

.food-card button {
    background: #ff5722;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.food-card button:hover {
    background: #e64a19;
}

.cart {
    background: white;
    margin: 30px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

#cartItems {
    margin: 20px;
}